
    <div class="col-6"><h2>Lecturer List</h2></div>
    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Program</th>
                    <th>Domain</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>


@section Scripts {
    <script src="~/js/lecturerdomain.js"></script>
}
